/* General Styles */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
list-style: none;
}
.gradient-bg {
    background: linear-gradient(
    to bottom left,
    #9100F8,
    #FB09B4,
    #F7E93F
  );
  padding: 12px 24px;
  border-radius: 24px;
  color: white;
}
.gradient-bg:hover, .transparent-btn:hover{
    background: linear-gradient(
    to bottom left,
     #FB09B4,
    #9100F8,
    #F7E93F
  );
  color: white;
}
.text-bg{
    background: linear-gradient(
    to bottom left,
    #9100F8,
    #FB09B4,
    #F7E93F);
}

.ani {
  animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
  /* left → right */
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translateX(12px);
  }
  50% {
    transform: translateX(0);
  }

  /* up → down */
  75% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
